.playground {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canva {
    border: 2px solid black;
    background-color: #f0f0f0;
    text-align: center;
}

#Titre {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
}

#leFameuxBob {
    position: fixed;
    left: 1vw;
    transition: linear 10s;
    user-select: none;
}

#leFameuxBob:hover {
    left: 100vw;
}

#ball {
    position: fixed;

    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 50%;
    border: solid 3px;
}