.playground {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canva {
    border: 2px solid black;
    background-color: #f0f0f0;
    text-align: center;
    width:60vw; 
    height:38vw;
}

#Titre {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
}


#leFameuxBob {
    position: fixed;
    left: 1vw;
    transition: linear 10s;
}

#leFameuxBob:hover {
    left: 100vw;
}
